<% iterations.each do |iteration| %>
  <div class="row">
    <div class="col-md-12">
      <div class="card Iteration Iteration--done Iteration--collapsed" data-id="<%= iteration.id %>">
        <div class="table-responsive">
          <table class="table card-table">
            <thead>
              <tr>
                <th colspan="5">
                  <a href="" class="Iteration-collapsable-button" data-toggle="iteration-collapse">
                    <i class="fa fa-caret-down"></i>
                  </a>
                  <small class="Iteration-title">
                    <%= iteration.number %> -
                    <%= "#{iteration.start_date.strftime('%b %e')} - #{iteration.end_date.strftime('%b %e')}" %> -
                    <%= "#{iteration.points_done} of #{iteration.total_points}" %> -
                    Velocity <%= iteration.velocity %>
                  </small>
                </th>
              </tr>
            </thead>
            <tbody>
              <%= render collection: iteration.stories.order_by_weight, as: :story, partial: 'admin/projects/story' %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>
