<p id="notice"><%= notice %></p>

<%= render 'detail', account: @account %>
<%#= render 'users', companies_users: @account.companies_users %>
<%= render 'projects', projects: @account.projects %>

<br>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', companies_path %>
