<div class="page-header">
  <h1 class="page-title">
    Dashboard
  </h1>
  <% if @projects.any? %>
    <div class="page-options d-flex">
      <%= link_to 'New Project', new_project_path, class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <% if @projects.any? %>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th style="width: 1%">#</th>
              <th style="width: 50%">Project Name</th>
              <th style="width: 30%"></th>
              <th style="width: 19%"></th>
            </tr>
          </thead>
          <tbody>
            <% @projects.each do |project| %>
              <tr>
                <td><%= project.id %></td>
                <td>
                  <a><%= link_to project.name, project %></a>
                  <br>
                  <small>Created <%= project.created_at %></small>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong><%= project.progress %>%</strong>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar <%= progress_color(project.progress) %>" role="progressbar" style="width: <%= project.progress %>%" aria-valuenow="<%= project.progress %>" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td class="text-right">
                  <%= link_to '<i class="fa fa-pencil"></i> Edit'.html_safe, [:edit, project], class: 'btn btn-info btn-sm' %>
                  <%= link_to '<i class="fa fa-trash-o"></i> Delete'.html_safe, project, class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% else %>
        <div class="card-body">
          You don't have projects yet. Create one clicking <%= link_to 'here', new_project_path %>
        </div>
      <% end %>
    </div>
  </div>
</div>
