<p id="notice"><%= notice %></p>

<%= render 'detail', company: @company %>
<%= render 'users', companies_users: @company.companies_users %>
<%= render 'projects', projects: @company.projects %>

<br>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
