<p id="notice"><%= notice %></p>

<%= render 'detail' %>
<%= render 'users' %>
<%= render 'projects' %>

<br>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
