<div class="card">
  <div class="card-header">
      <div class="card-title"><%= story.title %></div>
      <div class="card-options">
        <%= link_to 'Edit', [:edit, story.project, story], class: 'btn btn-secondary btn-sm' %>
        <%= link_to [story.project, story], class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fa fa-trash-o"></i>
        <% end %>
      </div>
  </div>
  <table class="table card-table table-vcenter text-nowrap">
    <tr>
      <th>ID:</th>
      <td>#<%= story.id %></td>
    </tr>
    <% if story.estimated? %>
      <tr>
        <th>Points:</th>
        <td><%= story.points %></td>
      </tr>
    <% end %>
    <% if story.release_date? %>
      <tr>
        <th>Release Date:</th>
        <td><%= story.release_date %></td>
      </tr>
    <% end %>
    <tr>
      <th>Story Type:</th>
      <td><%= story_type_icon(story.story_type) %> <%= story.story_type.titleize %></td>
    </tr>
    <tr>
      <th>Requester:</th>
      <td><%= link_to story.requester_abbr, [story.project, :stories, q: { requester_id_eql: story.requester_id }] %></td>
    </tr>
    <tr>
      <th>Owners:</th>
      <td><%= owner_list_links(story) %></td>
    </tr>
    <tr>
      <th>State:</th>
      <td><%= story_action_button(story) %></td>
    </tr>
    <tr>
      <th>Labels</th>
      <td><%= label_list_links(story) %></td>
    </tr>
  </table>
  <div class="card-footer">
    <%= markdown(story.description) %>
  </div>
</div>
