<%= form_with(model: story, url: [project, story], local: true, class: 'card') do |form| %>
  <%= render 'admin/shared/model_card_error', model: story %>

  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= form.label :title, class: 'form-label' %>
          <%= form.text_field :title, id: :story_title, class: 'form-control' %>
          <p class="hint">
            As a <strong>WHO?</strong>, I want <strong>WHAT?</strong> so that <strong>WHY?</strong>
          </p>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <%= form.label :story_type, class: 'form-label' %>
          <%= form.select :story_type, Story::TYPES, {}, id: :story_type, class: 'form-control custom-select' %>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <%= form.label :release_date, class: 'form-label' %>
          <%= form.text_field :release_date, id: :story_release_date, class: 'form-control custom-select', placeholder: '00/00/0000', autocomplete: 'off', maxlength: 10, data: { 'mask' => '00/00/0000', 'mask-clearifnotmatch' => true }, disabled: disable_release_date?(story) %>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <%= form.label :points, 'Estimations', class: 'form-label' %>
          <%= form.select :points, humanize_story_points(Story::POINTS), {}, id: :story_points, class: 'form-control custom-select', disabled: disable_estimations?(story) %>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <%= form.label :requester_id, class: 'form-label' %>
          <%= form.select :requester_id, collaborators, {}, id: :requester_id, class: 'form-control custom-select' %>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <%= form.label :owner_ids, 'Owners', class: 'form-label' %>
          <%= form.select :owner_ids, collaborators, {}, multiple: true, id: :story_owners, class: 'form-control custom-select' %>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <%= form.label :label_list, 'Labels (separated by commas)', class: 'form-label' %>
          <%= form.text_field :label_list, class: 'form-control', id: :story_label_list, data: { url: project_tags_url(project) } %>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <%= form.label :description, class: 'form-label' %>
          <%= form.text_area :description, id: :story_description, class: 'form-control' %>
          <p class="hint">
            Markdown sopported
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer text-right">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
