<div class="row">
  <div class="col-md-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Stories</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
          <li><%= link_to 'New Story', [:new, @project, :story] %></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table class="table">
          <tbody>
            <% @stories.each do |story| %>
              <tr>
                <td><%= story.points %></td>
                <td><i class="fa fa-<%= story.story_type %>"></i></td>
                <td>
                  <%= link_to story.title, project_story_path(@project, story) %>
                    (
                      <% story.owners.each do |owner| %>
                        <%= link_to owner.abbr, [@project, :stories, q: { owners_id_eq: owner.id }] %>
                      <% end %>
                    )
                </td>
                <td><%= story.requester_id %></td>
                <td><%= state_button(story) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
