<p id="notice"><%= notice %></p>

<%= render 'detail', story: @story %>
<%= render 'comments', comments: @story.comments %>
<%= render 'admin/comments/form', comment: @story.comments.build %>

<%= link_to 'Edit', edit__project_story_path(@story) %> |
<%= link_to 'Back', @project %>
