<%= form_with(model: project, local: true, html: {class: 'card'}) do |form| %>
  <%= render 'admin/shared/model_card_error', model: project %>

  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= form.label :name, class: 'form-label' %>
          <%= form.text_field :name, id: :project_name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :description, class: 'form-label' %>
          <%= form.text_area :description, id: :project_description, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :account_id, class: 'form-label' %>
          <%= form.select :account_id, @accounts, {}, id: :project_account, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer text-right">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
