<div class="card Iteration <%= 'Iteration--collapsed' unless iteration.current? %>" data-id="<%= iteration.id %>" id="Iteration-<%= iteration.id %>">
  <div class="table-responsive">
    <table class="table card-table">
      <thead>
        <tr>
          <th colspan="5">
            <a href="" class="Iteration-collapsable-button" data-toggle="iteration-collapse">
              <i class="fa fa-caret-down"></i>
            </a>
            <small>
              <%= iteration.number %> -
              <%= render 'admin/projects/iteration_dates_form', iteration: iteration %> - <%= "#{iteration.points_done} of #{iteration.total_points}" %> - Velocity <%= iteration.velocity %>

            </small>
          </th>
        </tr>
      </thead>
      <tbody>
        <%= render collection: iteration.stories.order(:position), as: :story, partial: 'admin/projects/story' %>
      </tbody>
    </table>
  </div>
</div>

