<tr
  id="Story-<%= story.id %>"
  class="Story <%= story_classes(story) %>"
  data-data="<%= story.to_json(only: [:id, :position, :iteration_id, :project_id]) %>"
  draggable="<%= !story.last_status? %>">
  <td style="width: 1%;"><%= story_type_icon(story.story_type) %></td>
  <td style="width: 1%;"><%= story.points if story.estimated? %></td>
  <td style="width: 1%;">
    <% if story.comments? %> <i class="fa fa-comment"></i> <% end %>
  </td>
  <td>
    <%= link_to story.title, project_story_path(@project, story), class: 'Story-title' %>
    <% if story.owners.any? %>
      <span class="Story-owners">( <%= owner_list_links(story) %> )</span>
    <% end %>
    <br> <%= label_list_links(story) %>
    </td>
  <td style="width: 14%;" class="text-right"><%= story_action_button(story) %></td>
</tr>
