<tr class="Story <%= 'Story--accepted' if story.accepted? %>">
  <td style="width: 1%;"><i class="fa <%= icon_for_story_type story.story_type %>"></i></td>
  <td style="width: 1%;"><%= story.points if story.feature? %></td>
  <td>
    <%= link_to story.title, project_story_path(@project, story), class: 'Story-title' %>
    (
      <% story.owners.each do |owner| %>
        <%= link_to owner.abbr, [@project, :stories, q: { owners_id_eq: owner.id }] %>
      <% end %>
    ) <br>
    <%= label_list_links(story) %>
    </td>
  <td style="width: 13%;" class="text-right"><%= story_action_button(story) %></td>
</tr>
