<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @story_type.name %>
</p>

<p>
  <strong>Display name:</strong>
  <%= @story_type.display_name %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @story_type.icon %>
</p>

<%= link_to 'Edit', edit_story_type_path(@story_type) %> |
<%= link_to 'Back', story_types_path %>
